* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.AuthContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, rgb(216, 216, 216), rgb(173, 219, 215));
    overflow: hidden;
    padding-top: 50px;
}

.form-container {
    position: relative;
    width: 900px;
    height: 580px;
    background-color: #fff;
    border-radius: 30px;
    overflow: hidden;
    margin: 20px;
}

.form-box {
    position: absolute;
    width: 55%;
    height: 100%;
    right: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 1;
    transition: .6s ease-in-out 1s, visibility 0s 1s;
    /* padding: 20px; */
}

.form-container.active .form-box{
    right: 45%;
}

.form-box.signup {
    visibility: hidden;
}

.form-container.active .form-box.signup{
    visibility: visible;
}

.toggle-box {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    font-size: 14px;
}

.toggle-box::before{
    content: '';
    width: 300%;
    height: 100%;
    position: absolute;
    background: #7494ec;
    z-index: 2;
    left: -255%;
    border-radius: 150px;
    transition: 1.2s ease-in-out;
    /* border: 1px solid red; */
}

.form-container.active .toggle-box::before{
    left: 55%;
}

.toggle-panel {
    position: absolute;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 25px;
    z-index: 2;
    /* background: seagreen; */
    /* border-radius: 0px 50px 50px 0px; */
    transition: 0.6s ease-in-out;
}

.toggle-panel.toggle-left{
    left: 0;
}

.toggle-box .register-btn, .login-btn{
    width: 100%;
    max-width: 300px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    text-align: center;
    background: transparent;
}

.form-container.active .toggle-panel.toggle-left{
    left: -50%;
    transition-delay: 0.6s;
}

.toggle-panel.toggle-left img{
    width: 70%;
    border-radius: 30px;
    margin-top: 20px;
}

.toggle-panel.toggle-right{
    right: -50%;
}
.form-container.active .toggle-panel.toggle-right{
    right: 0;
    transition-delay: .6s;
}

@media screen and (max-width: 600px){
    .AuthContainer{
        padding-top: 60px;
    }

    .form-container{
        height: calc(100vh - 80px);
    }

    .form-box{
        width: 100%;
        height: 70%;
        bottom: 0;
    }

    .form-container.active .form-box{
        right: 0;
        bottom: 30%;
    }

    .toggle-box::before{
        width: 100%;
        left: 0;
        height: 300%;
        top: -270%;
        border-radius: 120px;
    }

    .form-container.active .toggle-box::before{
        top: 70%;
        left: 0;
    }

    .toggle-panel{
        width: 100%;
        height: 30%;
    }

    .toggle-panel.toggle-left{
        display: block;
        top: 0;
        left: 0;
        font-size: 12px;
    }

    .toggle-panel.toggle-left p{
        display: none;
    }

    .form-container.active .toggle-panel.toggle-left{
        top: -40%;
        left: 0;
    }

    .toggle-panel.toggle-right{
        left: 0;
        bottom: -30%;
    }

     .form-container.active .toggle-panel.toggle-right{
        bottom: 0;
    }

    .toggle-panel.toggle-left img{
        visibility: hidden;
    }

    .toggle-panel.toggle-left .register-btn{
        width: 50%;
        font-size: 12px;
    }

}

@media screen and (max-width:400px){
    .AuthContainer{
        padding-top: 70px;
    }

    .form-container{
        height: calc(100vh - 100px);
    }

    .toggle-box::before{
        border-radius: 70px;
    }

    .toggle-panel.toggle-left .register-btn{
        width: 70%;
        margin-top: 20px;
    }

    
}